:root {
	/* colors */
	--key: #1ce783;
	--grey: #d0d0d0;
	--grey2: #acacac;
	--carbon: #0b0c0f;
	--white: #fff;
	--offwhite: #f7f7f9;
}
* {
	box-sizing: border-box !important;
}

/* background */
.bg-key {
	background-color: var(--key);
}
.bg-carbon {
	background-color: var(--carbon);
}
.bg-gray2 {
	background-color: var(--grey2);
}
.background-overlay {
	height: 100%;
	width: 100%;
	padding: 1.5em 1em;
	background-color: rgba(0, 0, 0, 0.3);
}

/* text */
.color-key {
	color: var(--key);
}
.color-grey {
	color: var(--grey);
}
.color-carbon {
	color: var(--carbon);
}
.color-white {
	color: var(--white);
}
h1 {
	font-size: 3em;
}
h7 {
	display: inline-block !important;

	font-size: 0.75em;
	font-weight: bolder;
}

/* button */
.btn {
	border-radius: 3px;
	padding: 0.8em 0;
}
.btn.bg-key:hover {
	background-color: var(--key);
	border-color: var(--key);
	opacity: 0.7;
}
.btn.bg-gray2:hover {
	background-color: var(--grey);
	border-color: var(--grey);
	opacity: 0.7;
}

/* anchors */
a:hover {
	color: var(--key);
}

/* bootstrap overrides */

.container-fluid {
	padding: 0 !important;
}
