body#login_signup {
	background-color: var(--offwhite);
}

/* nav */
#login_signup .navbar {
	background-color: var(--white) !important;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}
#login_signup .navbar > .container-fluid {
	padding-left: 2em;
	padding-right: 2em;
}
#login_signup .navbar-brand {
	color: var(--black);
	font-weight: bolder;
	font-size: 1.7em;
}
#login_signup .navbar-brand:hover {
	color: var(--key);
}
#login_signup .nav-link,
#login_signup .navbar-toggler {
	display: none;
}

/* login_signup_form */
#login_form,
#signup_form {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	width: 27em;
	margin: 0 auto;
}
label {
	color: var(--grey2);
}
#login_form .title,
#signup_form .title {
	margin-bottom: 2em;
}
