<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HuClone</title>

		{% load static %}
		<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css.map' %}" />
		<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'css/0main.css' %}" />
	</head>
	<body id="dash">
		<div id="hero" class="container-fluid">
			<!-- Nav -->
			{{nav | safe}}

			<!-- message box -->
			<div class="message-box">
				<h1>Title Image</h1>
				<!-- <div class="new-or-not">New</div> -->
				<div class="button-box">
					<button class="btn btn-light me-2">PLAY</button>
					<button class="btn btn-outline-light">DETAIL</button>
				</div>
			</div>
		</div>

		<!-- previews -->
		{% for preview in previews %} {{preview | safe}} {% endfor %}

		<footer>
			<script src="{% static 'bootstrap/bootstrap.bundle.js' %}"></script>
		</footer>
	</body>
</html>
